@{
    ViewData["Title"] = "Evento";
}

<h2>Evento</h2>
<hr />

@model RelacionaW3.MVC.Models.EventoViewModel

@{
    var disabled = (Model.Id == null) ? "disabled" : string.Empty;
}
<div class="card">
    <div class="card-header">
      Registrar Evento
    </div>
    <div class="card-body">
<form asp-controller="Evento" asp-action="Create" method="post">
    <input type="hidden" asp-for="Id" value="@Model.Id" />


<div class="form-group col-md-12">
              <div class="form-row">
                <div class="col-4">
              <label>Descrição</label>
               <input asp-for="Descricao" type="text" value="@Model.Descricao" class="form-control" />
               <span asp-validation-for="Descricao" class="text-danger"></span>
                 </div>
                  </div>
                        
                           <div class="form-row">
                                <div class="form-group col-md-8">

                                    <div class="form-group">
                        
                                    <label>Pessoa</label>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user-circle"></i></span>
                    
                                    <select asp-for="IdPessoa" asp-items="@Model.ListaPessoas" class="form-control" input-lg></select>
                                    <span asp-validation-for="IdPessoa" class="text-danger"></span>
                                </div>
                            </div> 
                                  <!-- <label>Nome do contato</label>
                                  <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="fa fa-user-circle"></i></span>
                                  <input type="text" class="form-control" 
                                  formControlName="nome" placeholder="Insira o nome da pessoa ou indique anônimato">
                                  
                              </div>
                            </div>-->
                              
                                  
                             <div class="form-row">
                                <div class="col-4">
                                    <label>Data</label>
                                    <input asp-for="DataEvento" type="date" value="@Model.DataEvento" class="form-control" />
                                    <span asp-validation-for="DataEvento" class="text-danger"></span>
                                </div>
                            </div>
                            
                              </div> 

                              <div class="form-row">

                                  <div class="form-group col-md-4">
                                      <label for="fonte">Fonte</label>
                    
                                      <select asp-for="Fonte" value="@Model.Fonte" class="form-control">
                                    <span asp-validation-for="Fonte" class="text-danger"></span>
                                        <option value="Interna">Interna</option>
                                        <option value="Externa">Externa</option>
                    
                                      </select>
                            
                                     
                                    </div>
                                   
                               <div class="form-group col-md-4">
                                  <label>Meio de Contato</label>
                                  <select name="fonte" class="form-control" id="meioDeContato" [ngClass]="{'is-invalid': registerForm.get('meioDeContato').errors
                                  && registerForm.get('meioDeContato').touched}"
                                  formControlName="meioDeContato" placeholder="">
                                    <option value="Telefonico">Telefônico</option>
                                    <option value="Site">Site</option>
                                    <option value="Redes Sociais">Redes Sociais</option>
                                    <option value="E-mail">E-mail</option>
                                    <option value="Formulario Impresso">Formulário Impresso</option>
                                   
                                  </select>
              
              
                
                              </div>
              
              
                                <div class="form-group col-md-4">
                                    <label>Classificação do contato</label>
                                    <select name="fonte" class="form-control" id="classificacao"
                                    formControlName="classificacao" placeholder="">
                                      <option value="Cliente">Cliente</option>
                                      <option value="Representatnte">Representante</option>
                                      <option value="Comunidade">Comunidade</option>
                                      <option value="Colaborador">Colaborador</option>
                                      <option value="Prestador de Serviço">Prestador de Serviço</option>
                                      <option value="Fornecedor">Fornecedor</option>
                                      
                                    </select>
                
            
                                  </div>

                                   <div class="form-group col-md-4">
                                    <label>Classificação do contato</label>
                                    <select name="fonte" class="form-control" id="classificacao"
                                    formControlName="classificacao" placeholder="">
                                      <option value="Cliente">Cliente</option>
                                      <option value="Representatnte">Representante</option>
                                      <option value="Comunidade">Comunidade</option>
                                      <option value="Colaborador">Colaborador</option>
                                      <option value="Prestador de Serviço">Prestador de Serviço</option>
                                      <option value="Fornecedor">Fornecedor</option>
                                      
                                    </select>
                
            
                                  </div>

                        <div class="form-group col-md-3">
                                    
                            <label>Area</label>
                            <select asp-for="IdArea" class="form-control input-group-lg" asp-items="@Model.ListaAreas"></select>
                            <span asp-validation-for="IdArea" class="text-danger"></span>
        
                               </div>
              
                                  <!-- <div class="form-group col-md-4">
                                    <label>Característica do contato</label>
                                    <select name="fonte" class="form-control" id="caracteristica" [ngClass]="{'is-invalid': registerForm.get('caracteristica').errors
                                    && registerForm.get('caracteristica').touched}"
                                    formControlName="caracteristica" placeholder="">
                                      <option value="Denúncia Interna">Denúncia Interna</option>
                                      <option value="Denúncia Externa">Denúncia Externa</option>
                                      <option value="Reclamação">Reclamação</option>
                                      <option value="Dúvida">Dúvida</option>
                                      <option value="Sugestão">Sugestão</option>
                                      <option value="Contato Comercial">Contato Comercial</option>
                                      <option value="Pós-Venda">Pós-Venda</option>
                                      <option value="Pesquisa de Satisfação">Pesquisa de Satisfação</option>
                                      <option value="Como estou Dirigindo">Como estou Dirigindo</option>
                                      <option value="Agradecimento">Agradecimento</option>
                                      <div *ngIf="registerForm.get('caracteristica').hasError('required') 
                                      && registerForm.get('caracteristica').touched" class="invalid-feedback">
                                    É necessário selecionar classificação de contato!
                                    </div>
                                    </select>
                
                                    
                  
                                  </div>
              
              
                                  <div class="form-group col-md-4">
                                      <label>Área(s) Envolvida(s)</label>
                                      <input type="text"
                                      [ngClass]="{'is-invalid': registerForm.get('areaEnvolvida').errors
                                      && registerForm.get('areaEnvolvida').touched}"
                                      class="form-control" formControlName="areaEnvolvida" placeholder="">
                                      <div *ngIf="registerForm.get('areaEnvolvida').hasError('required') 
                                      && registerForm.get('areaEnvolvida').touched" class="invalid-feedback">
                                      Área envolvida é obrigatório.
                                    </div>
                                  </div>

                                  
              
                                  <div class="form-group col-md-4">
                                      <label>Área Responsável</label>
                                      <h1 *ngIf="numero === 2">Esse será Exibido</h1>
                                      <select name="areaResponsavel" class="form-control" id="areaResponsavel"  [ngClass]="{'is-invalid': registerForm.get('areaResponsavel').errors
                                      && registerForm.get('areaResponsavel').touched}"
                                      formControlName="areaResponsavel" placeholder="">
                                        <option *ngFor="let area of areasFiltrados">
                                          {{area.nome}}
                                        </option>
                                        
                                        
                                        <option value="Comercial">Comercial</option>
                                        <option value="Logística">Logística</option>
                                        <option value="Qualidade">Qualidade</option>
                                        <option value="Conselho">Conselho</option>
                                        
                                        <div *ngIf="registerForm.get('areaResponsavel').hasError('required') 
                                        && registerForm.get('areaResponsavel').touched" class="invalid-feedback">
                                      É necessário selecionar classificação de contato!
                                      </div>
                                      </select>
                  
                                      
                    
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                          <label>Celular</label>
                                          <input type="text" mask="(00) 00000-0000"
                                          class="form-control" formControlName="celular" placeholder="">
                                        </div>
                                    
                      
                                      <div class="form-group col-md-6">
                                          <label>Telefone</label>
                                          <input type="text" mask="(00) 0000-0000"
                                          [ngClass]="{'is-invalid': registerForm.get('telefone').errors
                                          && registerForm.get('telefone').touched}"
                                          class="form-control" formControlName="telefone" placeholder="">
                                          <div *ngIf="registerForm.get('telefone').hasError('required') 
                                          && registerForm.get('telefone').touched" class="invalid-feedback">
                                          O telefone é obrigatório
                                        </div>
                                      </div>
                      
                                    </div> 
                                 
                               
                                
                                
                              </div>
 


                              <ng-template tabHeading><i class="icon-action-undo"></i>-Resposta Tratativa</ng-template>
                              <div class="form-group col-md-12">
                                  <label>Email</label>
                                  <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="fa fa-envelope-open-o"></i></span>
                                      
                                
                                    <input type="text" 
                                    [ngClass]="{'is-invalid': registerForm.get('email').errors
                                    && registerForm.get('email').touched}"
                                    class="form-control" formControlName="email" placeholder="Insira o endereço de e-mail">
                                    <div *ngIf="registerForm.get('email').hasError('required') 
                                    && registerForm.get('email').touched" class="invalid-feedback"
                                    class="invalid-feedback"> 
                                    O endereço de email é obrigatório
                                  </div>
                                  
                                  <div *ngIf="registerForm.get('email').hasError('email') 
                                  && registerForm.get('email').touched" class="invalid-feedback"
                                  class="invalid-feedback">
                                  O email deve ser válido
                                </div>
                                </div>
                                </div>
                           
                        </div> -->


    <!-- <div class="form-group">
        <div class="col-4">
            <label>Descrição</label>
            <input asp-for="Descricao" type="text" value="@Model.Descricao" class="form-control" />
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>
    </div> -->

    <!-- <div class="form-group">
        <div class="col-4">
            <label>Quantidade</label>
            <input asp-for="Quantidade" type="number" value="@Model.Quantidade" class="form-control" />
            <span asp-validation-for="Quantidade" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-4">
            <label>Valor</label>
            <input asp-for="Valor" type="text" value="@Model.Valor" class="form-control" />
            <span asp-validation-for="Valor" class="text-danger"></span>
        </div>
    </div> -->

    
 <br />
 
    
    <div class="card-footer">
       
            <button type="button" class="btn btn-info" onclick="Novo()">Novo</button>
            <button type="submit" class="btn btn-success">Gravar</button>
            <button type="button" class="btn btn-warning" onclick="Listagem()">Listagem</button>
            <button type="button" class="btn btn-danger" onclick="Excluir(@Model.Id)" @disabled>Excluir</button>
        
      </div>
</form>


    </div>
  </div>




























<script>
    function Novo() {
        Request("Create");
    }
    function Listagem() {
        Request("");
    }
    function Excluir(Id) {
        Request("Excluir\\" + Id);
    }
    function Request(request) {
        window.location = window.origin + "\\Evento\\" + request;
    }
</script>