@{
    ViewData["Title"] = "Eventos";
}

@model IEnumerable<RelacionaW3.Dominio.Models.Evento>;

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> 
        <div class="card-header-actions">
          
        </div>
      </div>
      <div class="card-body">
  
<h2>Eventos</h2>
<button type="submit" class="btn btn btn-primary btn-3d" 
                onclick="Create()">
          <i class="fa fa-plus"></i> Registrar
        </button>
        
        <button type="reset" class="btn btn btn-info btn-3d" onclick="Return()"><i class="fa fa-arrow-left"></i> Voltar</button>
<hr />

<table id="dataTable" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr style="background-color:#f6f6f6">
            <th>Código</th>
            <th>Descrição</th>
            <th>Área</th>
            <th>Meio de Contato</th>
            <th>Classificação</th>
            <!-- <th>Característica</th> -->
            <th>Pessoa</th>
            <th>Status</th>
            <th>Opções</th>
            
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <!-- <tr onclick="Editar(@item.Id)" style="cursor:pointer;"> -->
            <tr  style="cursor:pointer;">
                <td>@item.Id</td>
                <td>@item.Descricao</td>
                <td>@item.Area.Descricao</td>
                <td>@item.Meio</td>
                <td>@item.Caracteristica</td>
                <td>@item.Pessoa.Nome</td>
               
             
              
                                
                 <td style="vertical-align: middle;text-align: center">
                        @if (item.Status == "2")
                        {
                            <span class="badge badge-success float-right">Concluído</span>
                        }
                        else if (item.Status == "1")
                        {
                            <span class="badge badge-info float-right">Em análise</span>
                        }
                        else if (item.Status == "4")
                        {
                            <span class="label label-warning">Aguardando</span>
                        }
                        else if (item.Status == "6")
                        {
                            <span class="badge badge-suce">Concluído</span>
                        }
                    </td> 
               
            
                <td>
              <div class="btn-group">
                <button onclick="Editar(@item.Id)" class="btn btn-sm btn-success" 
                data-toggle="tooltip" data-placement="top" title="Editar" >
                <i class="fa fa-edit"></i>
              </button> 
              <button onclick="Details(@item.Id)" class="btn btn-sm btn-info"
              data-toggle="tooltip" data-placement="top" title="Detalhes" >
              <i class="fa fa-book"></i>   
            </button>    
              <button onclick="ExibirModal(@item.Id, '@item.Descricao')" class="btn btn-sm btn-danger"
              data-toggle="tooltip" data-placement="top" title="Excluir" >
              <i class="fa fa-eraser"></i>   
            </button> 
            
          </div>
        
        
          <!-- <a [routerLink]= "['/evento', evento.id, 'edit']" tooltip="Edição Detalhada" class="btn btn-sm btn-warning">
            <i class="fa fa-edit"></i>
          </a> -->

        </td>
            </tr>
        }
    </tbody>
</table>
<br />
      </div>
    </div>
  </div>
</div>


@section scripts
{

    <script>
        $(document)
            .ready(function () {

                $('#dataTable')
                    .DataTable({
                        "order": [],
                        "responsive": true,
                        "columnDefs": [
                            {
                                "targets": 'no-sort',
                                "orderable": false
                            }
                        ],
                        "oLanguage": {
                            "sProcessing": "Aguarde enquanto os dados são carregados ...",
                            "sLengthMenu": "Mostrar _MENU_ registros por página",
                            "sZeroRecords": "Nenhum registro correspondente ao critério encontrado",
                            "sInfoEmpty": "Exibindo 0 a 0 de 0 registros",
                            "sInfo": "Exibindo de _START_ a _END_ de _TOTAL_ registros",
                            "sInfoFiltered": "",
                            "sSearch": "Procurar",
                            "oPaginate": {
                                "sFirst": "Primeiro",
                                "sPrevious": "Anterior",
                                "sNext": "Próximo",
                                "sLast": "Último"
                            }
                        },
                        "stateSave": true,
                        "orderCellsTop": true,
                    });
            });

  </script>

  


    <script>
    function ExibirModal(id) {
    Swal.fire({
         title: 'Você tem certeza?',
         text: "Esta ação não poderá ser desfeita!",
         icon: 'warning',
         showCancelButton: true,
         confirmButtonColor: '#3085d6',
         cancelButtonColor: '#d33',
         confirmButtonText: 'Sim, excluir!',
         cancelButtonText: 'Cancelar'
    }).then((result) => {
       if (result.value) {
            Swal.fire(
               'Excluído!',
               'O item foi excluído com sucesso.',
               'success'
               )
         $.ajax({
            method: "POST",
            url: "/Evento/Delete",
            data: { id: id },
            success: function () {
             
            location.reload();
           //dataTable.reload();
                   }

        });
    
  }
})}
 </script>



<script>
    function Editar(Id) {
        window.location = window.origin + "\\Evento\\Edit\\" + Id;
    }
    function Create() {
        window.location = window.origin + "\\Evento\\Create\\";
    }
    function Details(Id) {
        window.location = window.origin + "\\Evento\\Details\\" + Id;
    }
    function Excluir(Id) {
         window.location = window.origin + "\\Evento\\Delete\\" + Id;
    }
    function Return() {
        window.location = window.origin + "\\Home\\Index";
    }
</script>

}