<!DOCTYPE html>


<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="description" content="Software Canal de relacionamento">
  <meta name="author" content="Henrique Jensen - W3">
  <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
  <title>@ViewData["Title"] - RelacionaW3 - Canal de Relacionamento</title>

  <!-- Icons-->
  <link href="~/lib/@@coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
  <link href="~/lib/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
  <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="~/lib/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" asp-append-version="true">


  <environment include="Development">
    <!-- Template styles -->
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/vendors/pace-progress/css/pace.css" rel="stylesheet">
    <!-- styles tweaks -->
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker3.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"/>

    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" asp-append-version="true">
    
      <link href="~/lib/select2/css/select2.min.css" rel="stylesheet"/>
  </environment>

  <environment exclude="Development">
    <!-- Template styles -->
    <link rel="stylesheet" href="~/css/site.css">
    <link href="~/css/style.css" rel="stylesheet">
    
    <link href="~/vendors/pace-progress/css/pace.min.css" rel="stylesheet" asp-append-version="true">
    <!-- styles tweaks -->
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true">
    <link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker3.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"/>
   
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" asp-append-version="true">
     <link href="~/lib/select2/css/select2.min.css" rel="stylesheet"/>
  </environment>

</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show bg-gray-250">

  <!-- APP-HEADER-->
  <partial name="_app-header" />
  <!-- /APP-HEADER-->

  <partial name="_CookieConsentPartial" />

  <div class="app-body">
    <div class="sidebar">

      <!-- SIDEBAR-NAV -->
      <partial name="_sidebar-nav" />
      <!-- /SIDEBAR-NAV -->

      <button class="sidebar-minimizer brand-minimizer" type="button"></button>
    </div>
    <main class="main">

      <!-- VIEW-BREADCRUMBS -->
      @RenderSection("Breadcrumbs", required: false)
      <!-- /VIEW-BREADCRUMBS -->

      <div class="container-fluid">

        <!-- VIEW-STYLES -->
        @RenderSection("Styles", required: false)
        <!-- /VIEW-STYLES -->

        <div class="animated fadeIn">

          <!-- VIEW-CONTENT -->
          @RenderBody()
          <!-- /VIEW-CONTENT -->

        </div>

        <!-- VIEW-MODALS -->
        @RenderSection("Modals", required: false)
        <!-- /VIEW-MODALS -->

      </div>
    </main>

    <!-- ASIDE-MENU -->
    <partial name="_aside-menu" />
    <!-- /ASIDE-MENU -->

  </div>
  <footer class="app-footer">
    <div>
      <a href="#">RelacionaW3</a>
      <span>&copy; 2019 W3-Indústria Metalúrgica.</span>
    </div>
    <div class="ml-auto">
      <span>Versão de Testes</span>
      <a href="www.w3.ind.br">1.0</a>
    </div>
  </footer>

  <environment include="Development">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
  </environment>
  <environment exclude="Development">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous">
    </script>
  </environment>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/popper.js/dist/umd/popper.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
  <script src="~/lib/pace-progress/pace.min.js"></script>
  <script src="~/lib/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
  <script src="~/lib/@@coreui/coreui/dist/js/coreui.min.js"></script>
  <script src="~/js/tooltips.js"></script>
  <script src="~/lib/select2/js/select2.min.js"></script> 
  

  <!-- <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script> -->
  
   <!-- <script src="~/lib/jquery/jquery-3.3.1.js"></script> -->
  <script src="~/lib/dataTable/jquery.dataTables.min.js"></script>
  <script src="~/lib/dataTable/dataTables.bootstrap4.min.js"></script> 
  <script src="~/lib/sweetalert2/sweetalert2.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.pt-BR.min.js"></script>
  
  <script src="~/js/site.js" asp-append-version="true"></script>
  <!-- <script src="~/js/src/select2/select2.min.js"></script>  -->

 

  <environment include="Development">
    <script src="~/js/site.js" asp-append-version="true"></script>
  </environment>
  <environment exclude="Development">
    <script src="~/js/site.js" asp-append-version="true"></script>
  </environment>

  <!-- VIEW-SCRIPTS -->
  @RenderSection("Scripts", required: false)

   
    @if (TempData["msgWelcome"] != null)
    {
        <script type="text/javascript">
            (function () { toastr.info('Seja bem-vindo(a)'); })();
        </script>
    }

    @if (TempData["msgDelete"] != null)
    {
        <script type="text/javascript">
            (function () { toastr.remove('Registro deletado com sucesso!'); })();
        </script>
    }

    @if (TempData["msgError"] != null)
    {
        <script type="text/javascript">
            (function () { toastr.error('Atenção! Ocorreu um erro!'); })();
        </script>
    }

    @if (TempData["msgSuccess"] != null)
    {
      
        <script type="text/javascript">
        toastr.options.closeMethod = 'fadeOut';
        toastr.options.closeDuration = 300;
        toastr.options.closeEasing = 'swing';
            (function () { 
              toastr.success('Dados gravados com sucesso!'); })();
        </script>
    }


  <!-- /VIEW-SCRIPTS -->


</body>
</html>